<!doctype html>
<html lang=en>
<head>
<meta charset=UTF-8>
<meta name=viewport content="width=device-width,initial-scale=1">
<title>Dashboard: Admin</title>
<%- include('partials/headlinks') %>
</head>
<body>
<header>
<div class="container-lg container-fluid d-flex justify-content-between">
<div class="icon position-relative"><i class="ri-user-line fs-1 me-2 pointer"></i>
<%=username%>
</div>
<a href=/admin/logout class="btn p-0">
<div class=popup>
<p class="mb-0 d-flex align-items-center"><i class="ri-logout-circle-line fs-1 me-2"></i>Logout</p>
</div>
</a>
</div>
</header>
<main>
<section>
<div class="container-lg container-fluid">
<h1 class="text-center my-5">Escorted Holidays Admin Dashboard</h1>
<div class="site-status border p-3 bg-secondary">
<h1 class=text-white>Site Maintanence Status</h1>
<div class=mt-3>
<label class="form-check-label text-white" for=timeline>Maintanence Timeline</label>
<input class=form-control type=datetime-local oninput=checkDateTime(this.value) name=timeline id=timeline>
</div>
<button id=m-start onclick=changeStatus(this) class="btn btn-primary me-2 d-flex align-items-center mt-3 justify-content-center"><%if(status){%>
Stop Maintanence
<%}else{%>
Start Maintanence
<%}%>
</button>
</div>
<div class="titles my-3">
<div class=row>
<div class="col-xxl-4 col-md-4 my-md-0 my-3 pointer">
<a href=/admin/registrations>
<div class="card info-card sales-card bg-secondary">
<div class=card-body>
<h5 class="card-title text-white">Registered</h5>
<div class="d-flex align-items-center">
<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
<i class="ri-user-add-fill fs-1 text-white"></i>
</div>
<div class=ps-3>
<h2 class=text-white>
<%=regis_count%>
</h2>
</div>
</div>
</div>
</div>
</a>
</div>
<div class="col-xxl-4 col-md-4 my-md-0 my-3">
<a href=/admin/packages/template/0>
<div class="card info-card sales-card bg-secondary pointer">
<div class=card-body>
<h5 class="card-title text-white">Avalaible Packages</h5>
<div class="d-flex align-items-center">
<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
<i class="ri-focus-3-fill me-2 text-white fs-1"></i>
</div>
<div class=ps-3>
<h2 class=text-white>
<%=pkg_count%>
</h2>
</div>
</div>
</div>
</div>
</a>
</div>
<div class="col-xxl-4 col-md-4 my-md-0 my-3">
<a href=/admin/blogs>
<div class="card info-card sales-card bg-secondary pointer">
<div class=card-body>
<h5 class="card-title text-white">Avalaible Blogs</h5>
<div class="d-flex align-items-center">
<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
<i class="ri-blogger-fill fs-1 text-white"></i>
<div class=ps-3>
<h2 class=text-white>
<%=blog%>
</h2>
</div>
</div>
</div>
</div>
</div>
</a>
</div>
<div class="col-xxl-4 col-md-4 my-3">
<a href=/admin/reveiws>
<div class="card info-card sales-card bg-secondary pointer">
<div class=card-body>
<h5 class="card-title text-white">Avalaible Reveiws</h5>
<div class="d-flex align-items-center">
<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
<i class="ri-service-fill fs-1 text-white"></i>
<div class=ps-3>
<h2 class=text-white>
<%=reveiws%>
</h2>
</div>
</div>
</div>
</div>
</div>
</a>
</div>
<div class="col-xxl-4 col-md-4 my-3">
<a href=/admin/gallery>
<div class="card info-card sales-card bg-secondary pointer">
<div class=card-body>
<h5 class="card-title text-white">Avalaible Images</h5>
<div class="d-flex align-items-center">
<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
<i class="ri-gallery-fill fs-1 text-white"></i>
<div class=ps-3>
<h2 class=text-white>
<%=images%>
</h2>
</div>
</div>
</div>
</div>
</div>
</a>
</div>
</div>
</div>
</div>

</section>
<section>
<div class="container-lg container-fluid">
<h1 class="text-center my-5">Operations</h1>
<div class=row>
<div class="col-xxl-4 col-md-4 my-md-0 my-3">
<a href=/admin/upload-packages>
<div class="card info-card sales-card bg-secondary pointer">
<div class=card-body>
<h5 class="card-title text-white">Upload Package</h5>
<div class="d-flex align-items-center">
<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
<button type=button class=btn><i class="ri-upload-cloud-fill fs-1 text-white"></i></button>
</div>
</div>
</div>
</div>
</a>
</div>
<div class="col-xxl-4 col-md-4 my-md-0 my-3">
<a href=/admin/upload-blogs>
<div class="card info-card sales-card bg-secondary pointer">
<div class=card-body>
<h5 class="card-title text-white">Upload Blogs</h5>
<div class="d-flex align-items-center">
<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
<button type=button class=btn><i class="ri-upload-cloud-fill fs-1 text-white"></i></button>
</div>
</div>
</div>
</div>
</a>
</div>
<div class="col-xxl-4 col-md-4 my-md-0 my-3">
<a href=/admin/upload-images>
<div class="card info-card sales-card bg-secondary pointer">
<div class=card-body>
<h5 class="card-title text-white">Upload Gallery Images</h5>
<div class="d-flex align-items-center">
<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
<button type=button class=btn><i class="ri-upload-cloud-fill fs-1 text-white"></i></button>
</div>
</div>
</div>
</div>
</a>
</div>
<div class="col-xxl-4 col-md-4 my-3">
<a href=/admin/upload-reveiw>
<div class="card info-card sales-card bg-secondary pointer">
<div class=card-body>
<h5 class="card-title text-white">Upload Custom Revewis</h5>
<div class="d-flex align-items-center">
<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
<button type=button class=btn><i class="ri-upload-cloud-fill fs-1 text-white"></i></button>
</div>
</div>
</div>
</div>
</a>
</div>
</div>
</div>
</section>
</main>
<script>function changeStatus(e){let t=document.getElementById("timeline").value;if(confirm("Are you sure you want to send ?")){let n=new FormData;if("Start Maintanence"===e.textContent.trim()){if(""===t)return alert("Please enter the timeline");n.set("status",!0)}else n.set("status",!1);n.append("timeline",t),fetch("/admin/maintenance",{method:"POST",body:n}).then((e=>e.json())).then((t=>{t.ON?(e.textContent="Stop Maintanence",alert(t.message)):(e.textContent="Start Maintanence",alert(t.message))})).catch((e=>{console.log(e)}))}}function checkDateTime(e){if(new Date(e)<new Date){document.getElementById("timeline").value="",alert("Past date and time cannot be set")}}window.addEventListener("pageshow",function(t){t.persisted&&location.reload()});
</script>
</body>
</html>