<!doctype html>
<html lang=en>
<head>
<meta charset=UTF-8>
<meta name=viewport content="width=device-width,initial-scale=1">
<title>Escorted Holiays:<%=type%>-Packages</title>
<link rel="shortcut icon" href=/images/Picture1.jpg type=image/x-icon>
<%- include('partials/headlinks') %>
<style>.section-heading{font-family:Salsa,cursive;color:#f87c00}.destinations ul li{margin-right:5px}img{height:350px}</style>
</head>
<body>
<%- include('partials/navbar') %>
<h1 class="text-center text-primary my-5"><%=type.charAt(0).toUpperCase() + type.slice(1)%> Packages</h1>
<div class="container-lg container-fluid my-5">
<div class="row p-0">
<%packages.forEach((item)=>{%>
<div class="col-md-4 mt-2">
<div class=card>
<div class="card-img position-relative">
<img src="<%=item.ImageUrl%>" class=card-img-top alt=kashmir>
</div>
<div class=card-body>
<h2 class="card-title text-center mb-4"><%=item.Name%>
</h2>
<h4><i class="ri-calendar-schedule-fill text-primary me-2"></i><%=item.Duration%></h4>
<h5>Destinations:-</h5>
<div class=destinations>
<ul class="p-0 m-0">
<%item.Destinations.forEach((item,index)=>{%>
<li><i class="ri-map-pin-fill me-1 text-primary"></i><%=item%></li>
<%})%>
</ul>
</div>
</div>
<hr class=mx-3>
<div class="card-footer text-end border-0 bg-white">
<a href="/packages/details/<%=item._id%>" class="btn-primary btn rounded-pill">Veiw Details</a>
</div>
</div>
</div>
<%})%>
</div>
</div>
<%- include('partials/footer') %>
<%- include('partials/footlinks') %>
</body>
</html>